In [ ]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id   pelajaran  nilai jenis-kelamin kelas
0         1  Matematika     47     laki-laki   12D
1         2       Kimia     70     laki-laki   12B
2         3  Matematika     49     laki-laki   12D
3         4     Geologi     12     perempuan   12A
4         5  Matematika     98     perempuan   12C

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [ ]:
# Indexing untuk menampilkan column nilai dan kelas saja
df_1 = df[['nilai', 'kelas']]
print(df_1)
print('\n')
# Indexing untuk menampilkan column pelajaran dan nilai baris 5 sampai 10
df_2 = df.loc[4:9, 'pelajaran':'nilai']   # Indexing 4:9 karena nilai awal index = 0
print(df_2)

    nilai kelas
0      47   12D
1      70   12B
2      49   12D
3      12   12A
4      98   12C
5      19   12A
6      96   12D
7      75   12D
8       6   12A
9       3   12D
10     80   12B
11     80   12B
12     32   12B
13     43   12A
14     14   12A
15     60   12B
16     47   12C
17     89   12B
18     80   12D
19     71   12C


    pelajaran  nilai
4  Matematika     98
5       Kimia     19
6       Kimia     96
7     Geologi     75
8  Matematika      6
9  Matematika      3

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [ ]:
# Menampilkan data siswa pada mata pelajaran Ekonomi dan Fisika
ekonomi = df['pelajaran'] == 'Ekonomi'
fisika = df['pelajaran'] == 'Fisika'
print(df[(ekonomi) | (fisika)])
print('\n')
# Menampilkan data siswa dengan nilai > 50 pada mata pelajaran Ekonomi
lebih50 = df['nilai'] > 50
kimia = df['pelajaran'] == 'Kimia'
print(df[(lebih50) & (kimia)])
print('\n')
# Menampilkan data siswa perempuan dengan nilai > 70 di kelas 12 C
lebih70 = df['nilai'] > 70
kelas12c = df['kelas'] == '12C'
perempuan = df['jenis-kelamin'] == 'perempuan'
print(df[(lebih70) & (kelas12c) & (perempuan)])

    siswa_id pelajaran  nilai jenis-kelamin kelas
11        12    Fisika     80     laki-laki   12B
15        16    Fisika     60     laki-laki   12B
17        18    Fisika     89     perempuan   12B
19        20   Ekonomi     71     laki-laki   12C


   siswa_id pelajaran  nilai jenis-kelamin kelas
1         2     Kimia     70     laki-laki   12B
6         7     Kimia     96     perempuan   12D


   siswa_id   pelajaran  nilai jenis-kelamin kelas
4         5  Matematika     98     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [ ]:
# Mendefinisikan fungsi normalisasi
def normalisasi(x):
  return (x - x.min()) / (x.max() - x.min())

# Memanggil dan menampilkan hasil dari fungsi normalisasi
df_nilai_normal = df[['nilai']].apply(normalisasi)
df_nilai_normal

       nilai
0   0.463158
1   0.705263
2   0.484211
3   0.094737
4   1.000000
5   0.168421
6   0.978947
7   0.757895
8   0.031579
9   0.000000
10  0.810526
11  0.810526
12  0.305263
13  0.421053
14  0.115789
15  0.600000
16  0.463158
17  0.905263
18  0.810526
19  0.715789